@font-face {
    font-family: mediumQuick;
    src: url('/static/Quicksand-Medium.ttf');
}

body {
    margin: 0;
    font-family: 'mediumQuick';
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 1);
}

.header {
    background-color: #25313f;
    height: 56px;
    border-bottom: 2px solid rgba(49, 185, 228, 1);
    display: flex;
    justify-content: start;
    align-items: center;
}

nav::before {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 56px;
    background-image: url("/images/header\ pattern\ image.png");
    mix-blend-mode: overlay;
    opacity: 1;
}

.header>img {
    padding-left: 24px;
    height: 36px;
}

.container {
    margin: 50px auto auto auto;
    background: #FFFFFF;
    width: 450px;
    border-top: 4px solid #3AC7EC;
    padding: 20px 36px 24px 36px;
    height: fit-content;
    border-radius: 2px 2px 0px 0px;
}

.form-heading {
    display: flex;
    flex-direction: row;
}

.back {
    height: 24px;
    width: 24px;
}

.form-title {
    color: rgba(34, 34, 34, 1);
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.radio-group {
    padding-top: 30px;
}

input[type="radio"],
input[type="checkbox"] {
    font: normal normal bold 24px/17px Material-Design-Iconic-Font;
    cursor: pointer;
    transform: scale(1.5);
    letter-spacing: 0px;
    accent-color: #1F7A54;
    opacity: 1;
}

.school-label {
    margin-right: 32px;
    text-align: left;
    font: normal normal bold 16px/20px 'mediumQuick';
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.state-label,
.district-label {
    text-align: left;
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.state-select,
.district-select {
    width: 100%;
    text-align: left;
    font: normal normal bold 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #222222;
    opacity: 1;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.stateInput {
    margin-bottom: 36px;
}

.districtInput {
    margin-bottom: 56px;
}

.username-div {
    margin-bottom: 33px;
}

.username-input,
.pass-input {
    outline: none;
    border: none;
    width: 100%;
    text-align: left;
    font: normal normal bold 16px/20px 'mediumQuick';
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    border-bottom: 1px solid #000000;
}

.forgot-label {
    text-align: right;
    font: normal normal bold 14px/18px 'mediumQuick';
    letter-spacing: 0px;
    color: #1F7A54;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 0;
    cursor: pointer;
}

.password-div {
    margin-bottom: 24px;
}

.pass-flex {
    display: flex;
    justify-content: space-between;
}

.passImg {
    border-bottom: 1px solid #000000;
}

.rem {
    margin-bottom: 32px;
    font-weight: bold;
}

.btn {
    background-color: rgba(63, 210, 139, 1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.24);
    height: 40px;
    width: 216px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.contact {
    align-items: end;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font: normal normal bold 14px/18px Quicksand;
    letter-spacing: 0px;
    /* color: #1F7A54; */
    margin: 16px;
}

.contact a {
    text-decoration: none;
    color: #1F7A54;
}

.gray-pipe {
    color: #0000001F;
    margin: 0 5px;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #E0E1E1;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 0%;
    bottom: 0px;
}

.footer-quantum {
    font: normal normal bold 14px/18px Quicksand;
    color: #1F2834;
}

.footer-text {
    font: normal normal bold 12px/16px Quicksand;
    letter-spacing: 0px;
    color: #616161;
    margin: 0 5px;
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 50px 140px auto 140px;
    }
}