@import './fxn';
.header {
    @include flex(start, center);
    background-color: $headerbgColor;
    height: 56px;
    border-bottom: 2px solid $borderColor;
    .headerLogo {
        padding-left: 24px;
        height: 36px;
        &:hover {
            @include cursorPointer();
        }
    }
}

nav::before {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 56px;
    background-image: url("/images/header\ pattern\ image.png");
    mix-blend-mode: overlay;
    opacity: 1;
    .headerLogo:hover {
        @include cursorPointer();
    }
}