@import './variables';
@import './header';
@import './inputStyle';
@import './fxn';
@font-face {
    font-family: mediumQuick;
    src: url(/static/Quicksand-Medium.ttf);
}

::placeholder {
    font: normal normal normal 16px/20px 'mediumQuick';
    color: $lightgray;
}

body {
    margin: 0;
    font-family: $font;
    box-sizing: border-box;
    @include flex($flexDirection: column);
    min-height: 100vh;
    background-color: $backgroundColor;
}

.container {
    margin: 50px auto auto auto;
    background: $wbgColor;
    width: 450px;
    border-top: 4px solid $borderColor;
    padding: 20px 36px 24px 36px;
    height: fit-content;
    border-radius: 2px 2px 0px 0px;
    .form-heading {
        @include flex();
        .back {
            height: 24px;
            width: 24px;
            &:hover {
                @include cursorPointer();
            }
        }
        .form-title {
            color: $titletextColor;
            font: normal normal bold 24px/28px $font;
            margin: 0 auto;
            text-align: center;
        }
    }
    .school-label {
        margin-right: 32px;
        text-align: left;
        font: normal normal bold 16px/20px 'mediumQuick';
        letter-spacing: 0px;
        color: $labelColor;
        opacity: 1;
    }
    .stateInput {
        margin-bottom: 36px;
    }
    .districtInput {
        margin-bottom: 56px;
    }
    .state-label,
    .district-label {
        text-align: left;
        font: normal normal bold 12px/16px 'Quicksand';
        letter-spacing: 0px;
        color: $lightgray;
        opacity: 1;
    }
    .state-select,
    .district-select {
        width: 100%;
        text-align: left;
        font: normal normal bold 16px/20px $font;
        letter-spacing: 0px;
        color: $titletextColor;
        opacity: 1;
        background: transparent;
        border: none;
        border-bottom: 1px solid $black;
    }
    .username-div {
        margin-bottom: 33px;
        .username-input {
            @include inputTextStyle();
        }
    }
    .forgot-label {
        text-align: right;
        font: normal normal bold 14px/18px 'mediumQuick';
        letter-spacing: 0px;
        color: $green;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 0;
        @include cursorPointer();
    }
    .password-div {
        margin-bottom: 24px;
        .pass-flex {
            @include flex(space-between);
            .pass-input {
                @include inputTextStyle();
            }
            .passImg {
                border-bottom: 1px solid $black;
                @include cursorPointer();
            }
        }
    }
    .rem {
        margin-bottom: 32px;
        font-weight: bold;
    }
    .btn {
        @include btnStyle();
    }
}

.contact {
    @include flex(center, end);
    margin: 0 auto;
    font: normal normal bold 14px/18px $font;
    letter-spacing: 0px;
    margin: 16px;
    a {
        text-decoration: none;
        color: $green;
    }
    .gray-pipe {
        color: #0000001F;
        margin: 0 5px;
    }
}

.footer {
    @include flex(center, center);
    width: 100%;
    text-align: center;
    background-color: $footerbgColor;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 0%;
    bottom: 0px;
    .footerLogo {
        @include cursorPointer();
    }
    .footer-quantum {
        font: normal normal bold 14px/18px $font;
        color: $footerTextColor;
    }
    .footer-text {
        font: normal normal bold 12px/16px $font;
        letter-spacing: 0px;
        color: $font;
        margin: 0 5px;
        .gray-pipe {
            color: #0000001F;
            margin: 0 5px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .container {
        margin: 50px 140px auto 140px;
    }
}