@font-face {
    font-family: 'Quicksand';
    font-display: optional;
    src: url('./static/Quicksand-VariableFont_wght.ttf');
}

* {
    margin: 0;
}

html,
body {
    background-color: #eeeeee;
    font-family: 'Quicksand';
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #25313F;
    padding: 0 30px;
    display: flex;
}

.header-title {
    color: #FFFFFF;
    font: normal normal bold 20px/18px 'Quicksand';
    margin-left: 5px;
}

.links {
    text-align: right;
    letter-spacing: 0px;
    color: #3FD28B;
    text-transform: uppercase;
    margin: 0 16px;
    padding: 8px 0 4px 0;
    border-bottom: 4px solid #25313F;
}

.links:hover {
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
    cursor: pointer;
}

.profile>img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 100%;
    border: #3FD28B 2px solid;
}

.menu {
    display: none;
}

.active {
    margin-left: auto;
}

.container {
    margin: 24px;
}

.courses {
    background-color: #8DDC97;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c1,
.c2 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    color: #222222;
    border-bottom: 4px solid #8DDC97;
}

.c2:hover,
.c1:hover {
    border-bottom: 4px solid #222222;
    cursor: pointer;
}

.cNum {
    font: normal normal bolder 24px/28px 'Quicksand';
    margin: 19px 8px 15px 8px;
}

.cName {
    font: normal normal bold 16px/20px 'Quicksand';
}

.info {
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin-bottom: 24px;
}

.filter-panel {
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
}

.c {
    align-self: flex-end;
    font: normal normal bold 12px/14px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.s-div {
    display: flex;
}

.sort-input {
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #686868;
}

.selectC {
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    width: 180px;
    background-color: #eeeeee;
    font: normal normal bold 16px/20px 'Quicksand';
    letter-spacing: 0px;
    color: #333333;
    margin-right: 24px;
}

.course__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.cards__data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 24px 16px 0;
}

.card__1,
.card__2,
.card__3,
.card__4 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

.c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.c-cards {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.card {
    display: flex;
}

.card-img {
    margin: 24px 16px 16px 24px;
    cursor: pointer;
}

.card-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 25px 24px 16px 0;
}

.cardinfo1,
.cardinfo2,
.cardinfo3,
.cardinfo4 {
    display: flex;
    margin: 7px 0 0 0;
}

.card-title {
    font: normal normal bold 16px/20px 'Quicksand';
    color: #222222;
    margin-right: auto;
}

.regular-course-label {
    font: normal normal bold 12px/16px 'Quicksand';
    color: #666666;
}

.pipe {
    margin: 0 5px;
    color: rgb(0, 0, 0, 0.12);
}

.grade {
    margin-left: 4px;
}

.plus {
    margin-left: 5px;
    color: #1F7A54;
}

.number-line-2 {
    font-weight: bolder;
    color: #222222;
    margin-right: 4px;
}

.card-select-input {
    font: normal normal bold 16px/20px 'Quicksand';
    color: #222222;
    border: none;
    border-bottom: rgb(0, 0, 0, 0.12) 1px solid;
    margin: 18px 0 13px 0;
}

.lm {
    margin-left: 4px;
}

.card-icons {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 9px 20px;
    border-top: rgb(0, 0, 0, 0.12) 1px solid;
    margin: auto 24px 0 24px;
}

.card-icons>img {
    cursor: pointer;
}

.i-disabled {
    opacity: 0.4;
}

.courses-icons>img:hover,
.star:hover,
.sort:hover,
.contact:hover,
.about:hover {
    opacity: 0.4;
    cursor: pointer;
}

.contact-div {
    justify-content: center;
    display: flex;
    font: normal normal bold 14px/18px 'Quicksand';
    letter-spacing: 0px;
    color: #1F7A54;
    margin: auto 16px 16px 16px;
}

.pipe {
    color: #0000001F;
    margin: 0 5px;
}

.footer {
    background-color: #E0E1E1;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-quantum {
    font: normal normal bold 14px/18px 'Quicksand';
    color: #1F2834;
}

.footer-text {
    font: normal normal bold 12px/16px 'Quicksand';
    letter-spacing: 0px;
    color: #616161;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name {
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    .c-grid {
        grid-template-columns: 1fr;
    }
    .a-disabled {
        display: none;
    }
    .bell {
        margin-left: auto;
    }
    .menu {
        display: block;
    }
    /* .header.resposnive {
        position: relative;
    }
    .header.resposnive>div {
        display: block;
    } */
}