@mixin flex($justifyContent:flex-start, $alignItems:stretch, $flexDirection:row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

.header {
    background-color: $hbgColor;
    @include flex(end, center);
    opacity: 1;
    height: 56px;
    padding: 0 30px;
    .hLogo {
        margin-right: auto;
    }
    .links {
        margin: 0 16px;
        padding: 8px 0 4px 0;
        color: $green;
        text-align: right;
        letter-spacing: 0px;
        text-transform: uppercase;
    }
    .active {
        color: $white;
        border-bottom: 4px solid white;
    }
    .a-able {
        display: none;
    }
}

nav::before {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 56px;
    background-image: url("/images/header\ pattern\ image.png");
    mix-blend-mode: overlay;
    opacity: 1;
}