$font: 'quickSand';
$hbgColor: #25313f;
$green: #3FD28B;
$white: #ffffff;
$bgColor: #EEEEEE;
$lightGreen: #8DDC97;
$classBorder: #222222;
$infoTextColor: #686868;
$borderColor: rgb(0, 0, 0, 0.12);
$selectColor: #333333;
$spanColor: #1F7A54;
$pipeColor: #0000001F;
$footerbgColor: rgba(224, 225, 225, 1);
$footerTextColor: #616161;