.header {
  background-color: #25313f;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  padding: 0 30px;
}
.header .links {
  margin: 0 16px;
  padding: 8px 0 4px 0;
  color: #3FD28B;
  text-align: right;
  letter-spacing: 0px;
  border-bottom: 4px solid #25313f;
  text-transform: uppercase;
}
.header .links:hover {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  cursor: pointer;
}
.header .active {
  color: #ffffff;
  border-bottom: 4px solid white;
  margin-left: auto;
}
.header .menu {
  display: none;
}

.header::before {
  content: " ";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  height: 56px;
  background-image: url("/images/header pattern image.png");
  mix-blend-mode: overlay;
  opacity: 1;
}

.container {
  padding: 24px;
}
.container .courses {
  background-color: #8DDC97;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .c1,
.container .c2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 4px solid #8DDC97;
}
.container .c1:hover,
.container .c2:hover {
  cursor: pointer;
  border-bottom: 4px solid #222222;
}
.container .c1 .cNum,
.container .c2 .cNum {
  font: normal normal bolder 24px/28px "quickSand";
  margin: 19px 8px 15px 8px;
}
.container .c1 .cName,
.container .c2 .cName {
  font: normal normal 600 16px/20px "quickSand";
}
.container .info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 24px;
}
.container .info .filter-panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  margin: 24px 0px;
}
.container .info .filter-panel .c {
  align-self: flex-end;
  letter-spacing: 0px;
  font: normal normal bold 12px/14px "quickSand";
  color: #686868;
}
.container .info .filter-panel .s-div {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
}
.container .info .filter-panel .s-div .sort-input {
  font: normal normal bold 12px/16px "quickSand";
  letter-spacing: 0px;
  color: #686868;
}
.container .info .filter-panel .s-div .selectC {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 180px;
  background-color: #EEEEEE;
  letter-spacing: 0px;
  color: #333333;
  margin-right: 24px;
  font: normal normal bold 16px/20px "quickSand";
}

.c-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.c-grid .c-cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-color: #ffffff;
}
.c-grid .c-cards .card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
}
.c-grid .c-cards .card .card-img {
  margin: 24px 16px 16px 24px;
}
.c-grid .c-cards .card .card-details {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  margin: 25px 24px 16px 0;
}
.c-grid .c-cards .card .cardinfo1,
.c-grid .c-cards .card .cardinfo2,
.c-grid .c-cards .card .cardinfo3,
.c-grid .c-cards .card .cardinfo4 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  margin: 7px 0 0 0;
}
.c-grid .c-cards .card .cardinfo1 .card-title,
.c-grid .c-cards .card .cardinfo2 .card-title,
.c-grid .c-cards .card .cardinfo3 .card-title,
.c-grid .c-cards .card .cardinfo4 .card-title {
  font: normal normal bold 16px/20px "quickSand";
  color: #222222;
  margin-right: auto;
}
.c-grid .c-cards .card .cardinfo1 .pipe,
.c-grid .c-cards .card .cardinfo2 .pipe,
.c-grid .c-cards .card .cardinfo3 .pipe,
.c-grid .c-cards .card .cardinfo4 .pipe {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.12);
}
.c-grid .c-cards .card .cardinfo1 .grade,
.c-grid .c-cards .card .cardinfo2 .grade,
.c-grid .c-cards .card .cardinfo3 .grade,
.c-grid .c-cards .card .cardinfo4 .grade {
  margin-left: 4px;
}
.c-grid .c-cards .card .cardinfo1 .plus,
.c-grid .c-cards .card .cardinfo2 .plus,
.c-grid .c-cards .card .cardinfo3 .plus,
.c-grid .c-cards .card .cardinfo4 .plus {
  margin-left: 5px;
  color: #3FD28B;
}
.c-grid .c-cards .card .cardinfo1 .number-line-2,
.c-grid .c-cards .card .cardinfo2 .number-line-2,
.c-grid .c-cards .card .cardinfo3 .number-line-2,
.c-grid .c-cards .card .cardinfo4 .number-line-2 {
  font-weight: bolder;
  color: #222222;
  margin-right: 4px;
}
.c-grid .c-cards .card .card-select-input {
  font: normal normal bold 16px/20px "quickSand";
  color: #222222;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 18px 0 13px 0;
}
.c-grid .c-cards .card .regular-course-label {
  font: normal normal bold 12px/16px "quickSand";
  color: #666666;
}
.c-grid .c-cards .card-icons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  padding: 16px 20px 9px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: auto 24px 0 24px;
}
.c-grid .c-cards .i-disabled {
  opacity: 0.4;
}

@font-face {
  font-family: quickSand;
  src: url("/static/Quicksand-VariableFont_wght.ttf");
}
* {
  margin: 0;
}

html,
body {
  background-color: #EEEEEE;
  font-family: "quickSand";
  height: 100%;
}

.contact-div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  font: normal normal bold 14px/18px "Quicksand";
  letter-spacing: 0px;
  color: #3FD28B;
  margin: auto 16px 16px 16px;
}
.contact-div .pipe {
  color: rgba(0, 0, 0, 0.1215686275);
  margin: 0 5px;
}
.contact-div .contact:hover,
.contact-div .about:hover {
  opacity: 0.4;
  cursor: pointer;
}

.footer {
  background-color: rgb(224, 225, 225);
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer .footer-text {
  font: normal normal bold 12px/16px "quickSand";
  letter-spacing: 0px;
  color: #616161;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .container .c-grid {
    grid-template-columns: 1fr;
  }
  .header .a-disabled {
    display: none;
  }
  .header .bell {
    margin-left: auto;
  }
  .header .menu {
    display: contents;
  }
  .header .resposnive .a-disabled {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */